body {
    padding-top: 80px;
    background-image: url("subtle_white_mini_waves.png");
}

#divMain {
    padding-top: 80px;
}

#codeInput {
    height: 350px;
    width: 100%;
    resize: none;
}

#log {
    font-size: 13px;
    height: 250px;
    overflow-y: auto;
}

#tokenPanel {
    height: 120px;
    overflow-y: auto;
}

#tokenTable > thead {
    font-weight: bold;
}
