body {
    padding-top: 80px;
    background-image: url("subtle_white_mini_waves.png");
    background-repeat: repeat;
}

#divMain {
}

textarea {
    width: 100%;
    resize: none;
}

#codeInput {
    height: 350px;
}

#CSTDisplay {
    height: 250px;
}

#log {
    font-size: 13px;
    height: 400px;
    overflow-y: auto;
}

#tokenPanel {
    height: 200px;
    overflow-y: auto;
}

#tokenTable > thead {
    font-weight: bold;
}

#tokenTable > tbody {
    font-size: 10px;
    font-weight: bold;
}

#brand {
    font-size: 20px;
    font-weight: bold;
}